body {
    margin: 0;
    padding: 0;
    background-image: url(/img/Фон\ 1.jpg);
    background-size: cover;
}

.header {
    height: 58px;
    background-color: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.top-nav {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
    margin: auto;
}

.title-list {
    display: flex;
    text-align: center;
    gap: 27px;
}

.icon:hover {
    filter: hue-rotate(130deg) ;
}

.log-in,
.sign-up {
    padding: 0 5px;
}

.log-in:hover {
    color: #01813F;
}

.sign-up:hover {
    color: #01813F;
}

.title {
    display: flex;
    width: 157px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.title-hover {
    text-decoration: none;
    color: #FFF ;
}

.title-hover:hover {
    color:#01813F ;
}

.compass {
    border-right: 1px solid rgba(255, 255, 255, 0.90);
    padding-right: 25px;
}

.title-welcome {
    display: flex;
    width: 108px;
    height: 22px;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 27px;
    padding-top: 5px;

    color: #FFF;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
    white-space: nowrap;
}

.main {
    width: 444px;
    flex-shrink: 0;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin: auto;
    margin-top: 54px;
    margin-bottom: 74px;
}

.sign {
    padding: 31px 0px 12px;
    display: flex;
    text-align: center;
    
}

.box {
    background-color:#3CB878;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.title-sign {
    color: #434343;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    padding-left: 43px;
}

.log {
    color: #3CB878;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding-left: 216px;
}

.box-log {
    text-decoration: none;
    color:#3CB878 ;
}

.box-log:hover {
    color: #01813F;
    text-decoration: underline #01813F;
}

.f-g {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0px 60px;
}

.f {
    display: flex;
    background-color: #305DB8;
    
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    
    color: #FFF;
    font-family:'Ubuntu';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

.f:hover {
    background-color: #022263;
}

.g {
    display: flex;
    background-color: #DF4A32;
    width: 160px;
    height: 48px;
    flex-shrink: 0; 
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    
    color: #FFF;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

.g:hover {
    background-color: #AB1F09;
}

.f::before {
    content: '';
    display: inline-block;

    background-image: url(/img/F.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    border-right: 1px solid #0A162F ;
    margin-right: 13px;
    padding-right: 13px;
    background-repeat: no-repeat;
    
}

.g::before {
    content: '';
    display: inline-block;

    background-image: url(/img/G+.png);
    width: 30px;
    height: 19px;
    background-size: contain;
    border-right: 1px solid #0A162F ;
    margin-right: 13px;
    padding-right: 13px;
    background-repeat: no-repeat;
    
}

.line-conteiner {
    text-align: center;
    position: relative;
    padding-top: 31px;
}

.line {
    border: none;
    border-top: 1px solid #F2F2F2;
    width: 152px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 18px;
}

.line-left {
    right: calc(50% - 156px - 5px);
}

.line-right {
   left: calc(50% - 156px - 5px);
}

.line-text {
    color: #848484;
    position: relative;
    z-index: 1;
    background-color: transparent;
    display: inline-block;

    width: 15px;
    height: 14px;
    padding: 0 2px;
}

.input {
    display: flex;
    flex-direction: column;
    height: 324px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.input-form {
    width: 324px;
    height: 44px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;

    color: #BEBEBE;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
    padding: 15px 20px;
}

.input-form:focus {
    color:#434343;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    outline: none;
}

.checkbox-conteiner {
    display: flex;
    margin-left: 45px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 0;
    width: 23px;
    height: 24px;
    
}

.checkbox::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
}

.checkbox:checked {
    content: '';
    background-image: url(/img/Vector\ 1.svg);
}

.label {
    width: 241px;
    height: 20px;
    flex-shrink: 0;
    padding-top: 3px;
    padding-left: 8px;

    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
}

.color {
    color: #3CB878;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}

.color:hover {
     color: #01813F;
     text-decoration: underline #01813F;
}

.account {
    background-color: #3CB878CC;
    width: 324px;
    height: 46px;
    border: none;
    color: white;
    border-radius: 4px;
    margin: 20px 60px;

    color: #FFF;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

.account:hover {
    background-color: #01813F
}

